
  .a{
    font-size: 30px;
    margin-left: 80px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 2px;
}
.b{
    font-size: 25px;
     margin-left: 80px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 2px;
    margin-top: 2px;
}
.c{
    font-size: 25px;
     margin-left: 80px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 2px;
    margin-top: 2px;
}
.d{
    font-size: 25px;
    margin-left: 80px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 2px;
    margin-top: -58px;
}
.m{
    width: 1520px;
    height: 990px;
    background-color: #ffe4c4;
    padding-top: 10px;
}
.skills{
    font-size: 50px;
    text-align: center;
    color: #435334;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 2px;

}
.main{
    font-size: 35px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 25px; 
}
.aa{
    font-size: 35px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 360px;  
    margin-top: 80px;
}
.aaa{
    font-size: 35px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 360px;  
    margin-top: -20px;
}
.aaaa{
    font-size: 35px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 360px;  
    margin-top: -20px;
}
.bb{
    font-size: 35px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 850px;
    margin-top: -185px;
    
}
.bbb{
    font-size: 35px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 850px;
    margin-top: 20px;
    margin-top: -20px;
}
.ex{
    font-size: 40px;
    color: #435334c3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 2px;
    margin-top: 100px;
    margin-left: 120px;
    
}
p{
    font-size: 30px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 120px;
}
.pp{
    font-size: 30px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 140px;
    margin-top: -20px;
}
.ppp{
    font-size: 30px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 120px;
    margin-top: -20px;
}
.pppp{
    font-size: 30px;
    color: #43533490;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-indent: 50px;
    margin-left: 160px;
    margin-top: -20px;
}

